<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Redis</title>
</head>
<body class="bg-dark">
    <div class="container mt-5 col-lg-6">
    <h2 class="text-center text-white">Recipes</h2>
    {% for i in recipe %}
        <div class="raw mx-3 shadow p-3 mb-5 bg-body rounded mt-2">
            <h5 class="text-dark">{{ i.title|capfirst }}:</h5>
            <p>{{ i.description|truncatechars:20 }}<a href="{% url 'details' i.id %}" style="text-decoration: none;" ><span class="ms-5 ">Read more</span></a></p>
        </div>
    {% endfor %}
</div>

    
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

